// Author: Damon van der Linde, Student ID: 21506136
extends layout

block head
  title  MatchMaker:About 
  meta(charset='UTF-8')
  link(type='text/css', rel='stylesheet', href='css/about.css')
  link(type='text/css', rel='stylesheet', href='css/layout.css')
  script(type='text/javascript', src='js/script.js')

block content
  #content
    br
    br
    br
    h3 What is MatchMaker about?
    p.contentText
      | At MatchMaker our goal is to provide you with a high qaulity match making services. Whether you are just looking for a freindship or more than that we will provide you with suitable matches given your interest.
    h3 How does the matching work?
    p.contentText
      | We match people based on their interests and things they have in common with you.
      | During the signing up process you specify the distance you want your match to
      | be within. The best matches will be returned. A match is done by firstly making
      | sure it matches your main interest things (age range, gender, range within) then
      | the quality of this match is determined by the number of things they have in common
      | with you.
    h3 References/Resources used
    p.contentText
      img(src='images/ml_original.png', width='200', height='200', alt='Match profile Image')
      br
      | 					Matchmaking Image. (2010). [image] Available at: http://vignette4.wikia.nocookie.net/halomachinima/images/3/3e/Matchmaking_Logo.png/revision/latest?cb=20130601174828 [Accessed 30 Mar. 2017]. 
      br
      br
      img(src='images/Faces.jpg', width='300', height='200', alt='Faces Image')
      br
      | 					Black and White Faces Image. (2017). [image] Available at: http://i.amz.mshcdn.com/nJwvOXPBYSfTT9O_c09NTbe9A3M=/950x534/filters:quality(90)/2012%2F12%2F04%2F50%2Fappturnsonl.cII.jpg [Accessed 3 Apr. 2017].
      br
      br