// Author: Damon van der Linde, Student ID: 21506136
extends layout

block head
  title  MatchMaker:Main 
  meta(charset='UTF-8')
  link(type='text/css', rel='stylesheet', href='css/main.css')
  link(type='text/css', rel='stylesheet', href='css/layout.css')
  script(type='text/javascript', src='js/script.js')
block content
  #content
    img.mainPage(src='images/Faces.jpg', height='400', width='800', alt='Black and White Face Image')