extends layout
block head
  title MatchMaker:Login
  link(rel='stylesheet', href='/css/create_profile.css')
  link(href='/css/layout.css', rel='stylesheet')
  script(type='text/javascript', src='/js/script.js')
  script(type='text/javascript', src='/js/login.js')

block content
  #content
    #innerContent
      .container
        br
        br
        h3 Login Page
        if(!user)
          form(action="/login", method="post")
            label(for='username') Enter Username:
            input(id='username', type='text', name='username')
            label(for='password') Enter Password:
            input(id='password', type='password', name='password')
            input(type='submit', value='Login', onclick='return validate()')
        if(user)
          p You are already logged in as #{user.username}
          a(href="/logout") Logout
        p(id="errorbox")