extends layout

block head
  title MatchMaker: Matches
  link(type='text/css', rel='stylesheet', href='css/layout.css')
  link(rel='stylesheet', href='/css/matches.css')
  script(type='text/javascript', src='js/script.js')

block content
  #content
    #innerContent
      .container
        br
        br
        h3 Matches
        br
        if (matches)
          each p in matches
            .matchContainer
              p.title #{p.firstname} #{p.lastname}
              p #{p.score} Shared Interests
              p #{p.distance} Kilometres Away
              .profile
                a(href='/profile/user/' + p.username) Visit Profile
        if(matches.length < 1)
          .matchContainer
            p.title No Matches Found
            p No matches found at this time. You can try increasing your search range, adjusting your age range or adding more   interests to your profile.
            br
