extends layout

block head
  title MatchMaker: Inbox
  link(type='text/css', rel='stylesheet', href='css/layout.css')
  link(type='text/css', rel='stylesheet', href='css/messages.css')
  script(type='text/javascript', src='js/script.js')

block content
  #content
    #innerContent
      .container
        br
        br
        h3 Inbox
        br
        if (!messages)
          p No messages found
        else
          //Render messages here 
          each m in messages
            .messageContainer
              p.title From: #{m.sentUsername}
              p.message #{m.content}
              .reply
                a(href='/message/' + m.sentUsername) Reply
              .reply
                a(href='/profile/user/' + m.sentUsername) See Profile 