doctype html
html
  head
    title= Register
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      h1 Registration Page
      br
      form(action="/user/register", method="post")
        label(for='username') Enter Username:
        input(id='username', type='text', name='username')
        label(for='password') Enter Password:
        input(id='password', type='password', name='password')
        input(type='submit', value='Register')
